@model MvcStok.Models.Entity.TBLSATISLAR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Make a sale
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Make a Sale Page</h2>
            </div>
            <form method="post" action="/Sale/NewSale">
                <div class="modal-body">
                    <label>
                        Ürün ID
                    </label>
                    @Html.TextBoxFor(m => m.URUN, new { @class = "form-control" })
                    <br />
                    <label>
                        Müşteri ID
                    </label>
                    @Html.TextBoxFor(m => m.MUSTERI, new { @class = "form-control" })
                    <br />
                    <label>
                        Adet
                    </label>
                    @Html.TextBoxFor(m => m.ADET, new { @class = "form-control" })
                    <br />
                    <label>
                        Fiyat
                    </label>
                    @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-info">Satış Yap</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>

                </div>
            </form>
        </div>
    </div>
</div>
